[submodule "bibliography"]
	path = bibliography
	url = https://github.com/pibook/bibliography
[submodule "extras"]
	path = extras
	url = https://github.com/pibook/extras
[submodule "figures"]
	path = figures
	url = https://github.com/pibook/_gallery
[submodule "quotes"]
	path = quotes
	url = https://github.com/pibook/_quotes
[submodule "text"]
	path = text
	url = https://github.com/pibook/text
[submodule "images"]
	path = images
	url = https://github.com/pibook/images
